html::-webkit-scrollbar {
    width: 1vw;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #7775;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

  html::-webkit-scrollbar-track {
    background-color: rgb(32, 33, 37);
  }

  /* cards scroll:- */

  
  .cards::-webkit-scrollbar {
    width: 1vw;
  }

  .cards::-webkit-scrollbar-thumb {
    background-color: #7775;
  }

  .cards::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

  .cards::-webkit-scrollbar-track {
    background-color: rgb(32, 33, 37);
  }
